* {
    transition: .3s all ease-in-out;
}
.container{
    margin-bottom: 100px;    
}
.navbar-brand img {
    height: 65px;
}

.carousel-item{
    padding: 20px 40px;
}


.it h3,p{
    margin-bottom: 20px;
}
  
.inner-section {
    background-image: url(images/bg-2.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 8%;
    
}
.carousel-item {
    background-image: url(images/bg-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5%;
    padding-bottom: 50px;
}

.carousel-indicators .active {
    background-image: linear-gradient(to right, #FF9C35, #FFD019);
    width: 45px;
}
.ic img{
    max-width: 100%;
    padding-bottom: 40px;
}  

.slider-row h3{
    margin-bottom: 20px;
}
.slider-row button{
    margin-top: 20px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px gray ;
    border-radius: 7px;
    text-align: center;
}
.by-but{
    border: none;
    padding: 5px 15px;
    background-color: black;
    color: white;
    border-radius: 7px;
    cursor: pointer;    
}
.see{
    color: #FF9C35;
}
.cd-1,.cd-2,.cd-3{
    padding: 30px 10px ;
    border-radius: 12px;
    
}
.text-center img{
    padding-bottom: 20px;
}

span.color-bar {
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 5px;
    border-radius: 5px;
    background-image: linear-gradient(to left, #FF9C35, #FFD019);
}

.footer{
    text-align: center;
    font-size: 12px;
}
.card-head{
    margin-bottom: 20px;
}
.fif img{
    max-width: 100%;
}
